html {
    font-family: serif;
    color: white;
  }
  nav {
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
  }
  h1 {
    background-color: purple;
    font-size: x-large;
    align-items: center;
    height: 30%;
        }
  div {
    display: flex;
    align-items: center;
  }
  